<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    <link rel="stylesheet" type="text/css" href="../assets/style.css">
  </head>
  <body>
    <script src="../assets/bundle.js"></script>
    <div id="header">
      <%= render 'layouts/header' %>
    </div>
    <div id="container">
    </div>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
